# Dependencies
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
/build/

# YCM config
.ycm_extra_conf.py

# Cabal files and directories
haskell/cabal.sandbox.config
haskell/ChangeLog.md
haskell/dist
haskell/LICENSE
haskell/.cabal-sandbox/
